.header {
  --header-bg: #fff;
  --header-text: #0c0c0c;
  --icon-size: 32px;
  --title-size: 30px;

  width: 100%;
  box-sizing: border-box;
  height: var(--header-height);
  line-height: var(--header-height);
  position: relative;
  font-size: var(--title-size);
  display: flex;
  border-radius: 999px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  color: var(--header-text);
  background-color: var(--header-bg);
}

.header .header-title {
  text-align: center;
  margin: 0;
  font-size: var(--title-size);
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 8px;
  position: absolute;
}

.header .header-title .icon {
  font-size: 25px;
}

.header .header-title .icon.text {
  width: unset;
}

.header .header-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  gap: 12px;
}

.header .header-button {
  width: 200px;
  height: 36px;
  border-radius: 999px;
  border: unset;
  background-color: #dfdfdf;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
}

.header .header-button:active {
  transform: scale(0.98);
}

.header .header-button.header-button__upload {
  background-color: var(--primary-color);
  color: #fff;
}

.header .header-button b {
  font-size: 20px;
  font-weight: 500;
}
