.nl-query-form {
  width: 100%;
  height: fit-content;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: #F6F6F6;
  display: flex;
  height: 160px;
  flex-direction: column;
  align-items: center;
  padding: 6px 12px;
  gap: 4px;
}

.nl-query-form .btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.query-icon {
  left: 10px;
  top: 10px;
  width: 24px;
  height: 24px;
  font-size: 24px;
  margin-right: 8px;
}

.nl-query-form .btns .btn {
  width: 30px;
  height: 30px;
  background-color: var(--primary-color);
  border-radius: 50%;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin-left: 4px;
  transition: all 0.2s ease-in-out;
}

.nl-query-form .btns .btn:active {
  transform: scale(0.95);
}

.nl-query-form .btns .btn.audio.active path {
  animation: rising 1s infinite both linear;
}

@keyframes rising {
  0% {
    fill: #e1e1e1;
  }

  50% {
    fill: #fff;
  }

  100% {
    fill: #e1e1e1;
  }
}

.nl-query-form .btns .btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
  transform: none;
}

.nl-query {
  flex: 1 1 0;
  width: 100%;
  line-height: 28px;
  margin: 0;
  margin-left: 4px;
  padding: 0;
  font-size: 20px;
  border: none;
  outline: none;
  resize: none;
  color: #000000;
  background-color: transparent;
  white-space: pre-wrap;
  overflow-x: hidden;
  overflow-y: auto;
  font-style: italic;
}

.nl-query b {
  font-weight: normal;
  cursor: pointer;
  padding-block: 4px;
}

.nl-query svg {
  display: inline-block;
  vertical-align: bottom;
}

.trend-item,
.relation-item {
  border-radius: 8px;
  padding: 4px;
  overflow: hidden;
}

.trend-item {
  padding: 8px 12px;
  margin: 2px;
}

.trend-item h5 {
  margin: 8px 0;
}

.relation-item.active,
.trend-item.active {
  background-color: var(--color, #ccc);
  position: relative;
  z-index: 0;
}

.relation-item.active::before,
.trend-item.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fffa;
  pointer-events: none;
  z-index: -1;
}

@keyframes dashFlow {
  from {
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -8;
    /* 让虚线向左流动 */
  }
}

.trend-item-attr .ant-select-multiple .ant-select-selection-overflow {
  display: none;
}

.trend-item-attr .ant-select-selector {
  padding-left: 12px;
}